* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  appearance: none;
}

button {
  font: inherit;
  border: none;
}

ul > li {
  list-style: none;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: minmax(192px, 1fr) minmax(650px, 6fr);
  grid-template-rows: minmax(150px, max-content) clamp(
      300px,
      100vh,
      max-content
    );
  grid-template-areas:
    "sidebar header"
    "sidebar  main";
}

.sidebar {
  z-index: 2;
  background: #92d4dd;
  font-weight: 700;
  display: flex;
  position: sticky;
  align-self: start;
  height: 100vh;
  top: 0;
  flex-direction: column;
  gap: clamp(30px, 2.5vw, 50px);
  padding-top: 10%;
  padding-left: clamp(10%, 1.5vw, 100px);
  padding-right: clamp(10%, 1.5vw, 100px);
  grid-area: sidebar;
}

.sidebar a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 4px #000;
}

.sidebar a:hover {
  color: rgb(247, 255, 140);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.logo a {
  display: flex;
  /* border: 1px solid black; */
  justify-items: start;
  align-items: baseline;
}

.logo svg {
  width: min(15%, 40px);
}

.logo p {
  padding-left: 2%;
  font-size: clamp(16px, 2vw, 25px);
}

.side-function ul {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 1vw, 40px);
}

.side-function a {
  display: flex;
  align-items: center;
}

.side-function li:first-child > a {
  align-items: baseline;
}

.side-function svg {
  display: inline-block;
  min-width: 25px;
  width: min(15%, 30px);
  margin-right: 1vw;
}

.side-function li {
  font-size: clamp(16px, 2vw, 20px);
}

.side-about ul {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 1vw, 40px);
}

.side-about a {
  display: flex;
  align-items: center;
  gap: max(5px, 0.5vw);
}

.side-about svg {
  display: inline-block;
  width: max(20px, 1.5vw);
  margin-right: 0.5vw;
}

.side-about li {
  font-size: clamp(16px, 2vw, 20px);
}

.header {
  z-index: 1;
  display: grid;
  max-height: 200px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #ffb6c1;
  grid-area: header;
  box-shadow: 0px 5px 20px 0px #00000067;
}

.search {
  display: flex;
  padding: max(10px, 0.8vw) max(25px, 2vw) max(10px, 0.8vw) max(10px, 2vw);
}

.search div:first-child {
  align-self: center;
}

.search svg {
  margin: 0 max(10px, 1vw);
  padding-top: 5px;
  width: max(20px, 1vw);
}

.search input {
  align-self: center;
  padding-left: 10px;
  border-radius: 15px;
  font-family: inherit;
  font-size: 16px;
  width: min(800px, 100%);
  height: min(40px, 50%);
  background-color: rgb(230, 230, 230);
}

.search input:focus {
  outline: none;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: max(20px, 1.5vw);
}

.profile p {
  margin-right: max(25px, 3vw);
  font-size: max(16px, 1vw);
  font-weight: 600;
}

.profile a {
  text-decoration: none;
  color: black;
}

.profile a > img:hover {
  outline: yellow 2px solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.profile a > p:hover {
  color: rgb(247, 255, 140);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.profile a > svg:hover,
.search a > svg:hover {
  fill: rgb(246, 248, 112);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
}

.profile img {
  border-radius: 50%;
  width: max(50px, 1vw);
}

.profile svg {
  width: 25px;
}

.name {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: max(10px, 1vw);
  padding-left: max(25px, 2.5vw);
}

.name img {
  width: max(70px, 3.5vw);
  height: max(70px, 3.5vw);
  border-radius: 50%;
}

.name a:hover {
  color: #ffffff;
  text-shadow: 0px 0px 4px #92d4dd;
}

.name div {
  font-size: 14px;
  font-weight: 600;
}

.name div p:last-child {
  font-size: max(19px, 1.2vw);
  min-width: 150px;
  margin-right: 10px;
}

.files {
  display: flex;
  gap: max(5px, 1vw);
  align-items: center;
  justify-content: flex-end;
  padding-right: max(25px, 3vw);
}

.files button {
  font-size: max(15px, 1vw);
  font-weight: 600;
  width: max(65px, 5vw);
  height: max(30px, 1.8vw);
  background-color: #9ae8eb;
  border-radius: 15px;
}

.files button:hover {
  cursor: pointer;
  background-color: #a6fcff;
  /* border: 2px #FF0051 solid; */
  box-shadow: 0px 0px 5px 2px rgb(253, 255, 147);
}

.main {
  background-color: #ffd0b6b0;
  display: grid;
  grid-template-columns: 5fr minmax(250px, 1fr);
  grid-template-rows: 50% 1fr;
  grid-area: main;
  gap: 0 50px;
}

.title,
.side-title {
  font-weight: 700;
}

.main .projects {
  min-width: 330px;
  padding: 50px 0 20px 20px;
}

.main .main-side {
  display: flex;
  position: sticky;
  top: 0;
  align-self: start;
  font-size: clamp(11px, 1vw, 13px);
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px 20px 0px;
}

.announce div + div {
  padding-top: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.397);
}

.side-title {
  font-size: clamp(13px, 1vw, 14px);
}

.main-side > div > .side-title {
  padding-bottom: 10px;
  font-size: clamp(15px, 1vw, 17px);
}

.main .announce,
.main .trending {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #00000069, inset 0px 0px 10px 1px lightpink;
  border-radius: 8px;
}

.main .trends {
  font-size: clamp(12px, 1vw, 14px);
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 2fr;
  grid-template-rows: minmax(25px, 1.4vw) minmax(25px, 1.4vw);
  align-items: start;
}

.container .main .trending {
  gap: 14px;
}

.trends p {
  align-self: end;
  font-weight: 600;
}

.main .trends img {
  grid-row: 1 / -1;
  border-radius: 50%;
  width: max(50px, 2.8vw);
  height: max(50px, 2.8vw);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(220px, max-content);
  gap: max(20px, 4vw);
  font-size: clamp(14px, 1vw, 16px);
}

.cards .title {
  font-size: clamp(16px, 1vw, 18px);
}

.projects > .title {
  font-size: clamp(18px, 1vw, 20px);
}

.card {
  display: grid;
  gap: clamp(15px, 1vw, 30px);
  grid-template-rows: 1fr 30px;
  box-shadow: 2px 2px 5px #00000069, inset 10px 0px 0px #e5ffb6;
  margin: clamp(15px, 1vw, 20px);
  background-color: white;
  border-radius: 10px;
  padding: max(10px, 1vw);
  padding-left: max(30px, 1vw);
}

.card-function {
  display: flex;
  gap: max(20px, 10%);
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: max(10px, 1vw);
}

.card-function svg {
  width: 25px;
  height: 25px;
}

.card-function a:hover {
  fill: lightpink;
  filter: drop-shadow(2px 1px 0px #a6fcff);
}
