* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
}

ul > li {
    list-style: none;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: minmax(150px, 1fr) minmax(300px, 5fr);
    grid-template-rows: minmax(150px, 1fr) minmax(300px, 4fr);
    grid-template-areas:  
    'sidebar header'
    'sidebar  main';
}

.sidebar {
    background-color: lightblue;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 10%;
    padding-left: min(10%, 30px);
    grid-area: sidebar;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.logo a {
    display: flex;
    /* border: 1px solid black; */
    justify-items: start;
    align-items: baseline;
}

.logo svg {
    width: min(15%, 40px);
}

.logo p {
    padding-left: 2%;
    font-size: clamp(16px, 2vw, 25px);
}

.header {
    background-color: lightpink;
    grid-area: header;
}

.main {
    background-color: lightgoldenrodyellow;
    grid-area: main;
}

